*{
    margin:0px;
    padding:0px
}
#wrapper{

    width: 970px;
    
}
#tophalf{
    background-color: #145274;
    
   
   

}
#header{
    height: 20%;
}
#logo{
    display: inline-block;
    padding: 5px;
    
 
}
form{
    display: inline-block;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    
}
#headerright{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-left:60px;
}

img{
    height: 80%;
    width: 80%;
}
#text{
    font-size: 14px;
    color: white;
    display: block;
    padding: 5px 0px 0px 0px;
    margin-left: 100px;
 
    margin-bottom: 5px;
    vertical-align: top;
    
}

a{
    color: #F4CA4F;
    text-decoration: underline;
}

#sizeform{
    margin-top: 5px;
    padding: 5px 50px 5px 70px;
    background: #444444;
    border-radius: 15px;
    display: block;
}
input[type=text] {
    width: 70%;
    height:50%;
    position: relative;
    padding: 10px 0px ;
    margin: 8px 0px;
    box-sizing: border-box;
    display: inline;
   
}
input[type=button]{
   
   font-size: 16px;
   background-color: #145274;
   color: white;
   display: inline;



    

}
#menubar{
    display: inline-block;
    background: linear-gradient(#1F78AA, #377FAA , #1F78AA);
    padding: 10px 30px 10px 50px;
    margin-left:60px;
    margin-bottom: 10px;
    border-radius:10px;

}
.menulink{
font-size: 22px;
color:white;
text-decoration: none;
margin-right:40px;
display: inline-block;

}

#navigation{
    display: inline-block;
    padding:20px 0px 20px 20px;
    margin-left:50px;
    width:25%;
    vertical-align: top;

}
#main{
    display: inline-block;
    font-size: 13px;
    color: white;
    text-align: center;
    width:58%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#listspace{
    background-color:white;
    display: inline-block;
    width:100%;
  

}
#list{
 
    display: inline-block;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color:black;
    text-align:  center;
    margin:10px auto;
    padding: 0px 30px;
    vertical-align: top;
    margin-left:

}
.listtext{
    font-size:13px;
    color:#444444;
    text-align:  center;
    width: 70%;
    margin: 0 auto;

}
#listline{
    height:4px;
    background-color:#68A9D2;
    margin-bottom:5px;
    margin-left:50px;
}

#footer{
    background: linear-gradient(#155478, #1977A9)

    
}
#footerline{
    display: inline-block;
    margin: 10px 175px 0px 175px;

}
.footertext{
    font-size:16px;
    color:#69AAD1;
    font-family: Arial, Helvetica, sans-serif;    
    display: inline-block;
    margin:35px 20px 10px 20px;
}
.copyright{
        font-size: 8px;
        color: #69AAD1;
        margin: 0px 445px;
        padding-bottom: 10px;
}
ul.nav {
    font-size:18px;
    text-decoration: underline;
    list-style-type: circle;
    display: inline-block;
   text-align:  center;
   color:white;
   vertical-align: top;
   list-style-position: inside;
    
}
.orange{
    color: #F4CA4F;
    font-style: italic;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    padding:5px;

}
.avgtxt{
    font-size: 16px;
    color:white;
    font-family: Arial, Helvetica, sans-serif; 
    padding:5px;

}

ul.info{
    font-size:12px;
    color:black;
    text-align: center;
    list-style-type: square;
    margin-top:3px;
    margin-left:30%;
    list-style-position: outside;
    
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#444444;
    text-align: center;
    margin-bottom:5px;
}
a.blue{
    color:#83B8D9;
    font-size:11px;
    text-align:  center;
    margin-left: -30%;
    text-decoration: none;
}
.term{
    display: inline;
    color:#83B8D9;
    font: 10px;
}