*{
    margin:0px;
    padding:0px
}
#wrapper{
    background-color: #145274;
    width: 970px;
}
#header{
    height: 20%;
}
#logo{
    display: inline-block;
    padding: 5px;
 
}
form{
    display: inline-block;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    
}
#headerright{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

img{
    height: 80%;
    width: 80%;
}
#text{
    font-size: 14px;
    color: white;
    display: block;
    padding: 5px 0px 0px 0px;
    margin-left: 100px;
 
    margin-bottom: 5px;
    vertical-align: top;
    
}

a{
    color: #F4CA4F;
    text-decoration: underline;
}

#sizeform{
    margin-top: 5px;
    padding: 5px 50px 5px 70px;
    background: #444444;
    border-radius: 15px;
    display: block;
}
input[type=text] {
    width: 70%;
    height:50%;
    position: relative;
    padding: 10px 0px ;
    margin: 8px 0px;
    box-sizing: border-box;
    display: inline;
   
}
input[type=button]{
   
   font-size: 16px;
   background-color: #145274;
   color: white;
   display: inline;



    

}
#menubar{
    display: inline-block;
    background: linear-gradient(#1F78AA, #377FAA , #1F78AA);
    padding: 10px 30px 10px 50px;
    margin-left:60px;
    margin-bottom: 10px;
    border-radius:10px;

}
.menulink{
font-size: 22px;
color:white;
text-decoration: none;
margin-right:30px;
display: inline-block;

}

#navigation{
    display: inline-block;
    padding:20px 0px 20px 20px;
    margin-left:50px;
    width:25%;
    vertical-align: top;

}
#main{
    display: inline-block;
    font-size: 13px;
    color: white;
    text-align: center;
    width:58%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#list1{

}
#list2{

}
#footer{
    
}
ul {
    font-size:18px;
    text-decoration: underline;
    list-style-type: circle;
    display: inline-block;
   text-align:  center;
   color:white;
   vertical-align: top;
   list-style-position: inside;
    
}